/* .heading {
  font-size: 50px;
  font-family: cursive;
  color: green;
}

.container {
  padding-left: 3vw;
  display: flex;
  flex-direction: column;
}

.table {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

#members {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

#members td,
#members th {
  border: 1px solid #ddd;
  padding: 8px;
}

#members tr:nth-child(even) {
  background-color: #08fd6e;
}

#members tr:nth-child(odd) {
  background-color: #b4fd08;
}

#members tr:hover {
  background-color: #ddd;
}

#members th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #6c0d92;
  color: rgb(0, 255, 255);
} */

.members {
  overflow-y: auto;
  overflow-x: auto;
  height: 68vh;
}
